<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDy-vaP7u4nIBVlQQ2DYWJbTsSPTjv-sRc</string>
	<key>GCM_SENDER_ID</key>
	<string>395188170113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaimeflneto.pandaVideo</string>
	<key>PROJECT_ID</key>
	<string>panda-challenge-jaimeneto85</string>
	<key>STORAGE_BUCKET</key>
	<string>panda-challenge-jaimeneto85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395188170113:ios:20150a541c3f68454b8c80</string>
</dict>
</plist>